.huno {
    font-size: 50px;
    background-color: black;
}

.divnav {
    background-color: rgb(4, 117, 117);
    padding: 20px;
}

.btn {
    color: white;
    background: rgb(29, 3, 63);
    padding: 20px
}

.btn:hover {
    background: rgb(96, 6, 114);
}

